<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <p>{{eventLocation}}</p>
    <p>{{locationCoordinates}}</p>
    <p>{{isPrivate}}</p>
    <p>{{updatedEvent}}</p>
    <p>{{event_date}}</p>
    <p>{{date_created}}</p>
    <p>Created by {{user.usernmae}} {{user.lastName}} on {{date_created}}</p>
    {{#if logged_in}}
    <p>
        <button class="btn btn-primary">Add to My Events!</button>
    </p>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
    </div>
    {{else}}
    <a href="/signUpPage">Sign up to add this event!</a>
    {{/if}}
</div>