<div class="text-center">
    

    <h2 id="event-name">{{title}}</h2>
    <p id="event-desc">{{body}}</p>
    <p id="ev-loc">{{eventLocation}}</p>
    <p id="loc-coor">{{locationCoordinates}}</p>
    <p id="is-priv">{{isPrivate}}</p>
  <!--  <p id="is-updated">{{event.updatedEvent}}</p> -->
    <p id="event-date">{{format_date2 event_date}}</p>
    <p id="date-created">{{format_date2 date_created}}</p>
    <p>Created by {{event.user.username}} on {{format_date2 date_created}}</p>
    {{#if logged_in}}
    <p>
        <button class="btn btn-primary">Add to My Events!</button>
    </p>
    <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
    </div>
    {{else}}
    <a href="/signUpPage">Sign up to add this event!</a>
    {{/if}}
</div>
<script src="./js/events.js"></script>