{{#each events as |event| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/event/{{event.id}}">{{event.title}}</a>
    </h2>
    <p>
      Event location: {{event.eventLocation}}
    </p>
    <P>
      Event coordinates: {{event.locationCoordinates}}
    </P>
    <p>
      Date of event: {{event.event_date}}
    </p>
    <p>Created by {{event.user.username}} on {{event.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      Event description: {{event.body}}
    </p>
  </div>
</div>
{{/each}}