<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head> 
<body>
        <h2>My Profile</h2>
<div class="profile-card">
<p>
Name: {{user.firstName}} {{user.lastName}}
</p>
<p>
Birthday: {{user.birthday}}    
</p>
<p>
Twitter: {{user.twitter}}
</p>
<p>
Email: {{user.email}}
</p>
<p>
Hobbies: {{user.hobbies}}
</p>
</div>

<div class="event-card">
    <h3>My Events</h3>
{{#each events as |event|}}
    <div>
        <h3>{{event.title}}</h3>
        <p>{{event.body}}</p>
        <p>{{event.eventLocation}}</p>
        <p>{{event.isPrivate}}</p>
        <p>{{event.event_date}}</p>
        <p>{{event.date_created}}</p>
    </div>
{{/each}}

<div class="events-attended">
    <h3>Events Attended</h3>
    <ol>
        {{#each eventsAttended as |event|}}
        <li>{{event.title}}</li>
        {{/each}}
    </ol>
</div>

<div class="events-created">
    <h3>My Events Created</h3>
    <ol>
        {{#each eventsCreated as |event|}}
        <li>{{event.title}}</li>
        {{/each}}
    </ol>
</div>

</body>